
body {
    font-family: Arial, sans-serif;
    background-color: lightsalmon;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    margin-bottom: 20px;
    background-image: linear-gradient(to right,rgb(236, 73, 19),rgb(175, 22, 175));
    color: transparent;
    -webkit-background-clip: text;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

button {
    width: 80%;
    padding: 10px;
    background-color: rgb(244, 106, 56);
    border: none;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: rgb(244, 106, 56);
}
