<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Victorian Institute of Technology Registration Page</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <!-- Header Section -->
    <div class="header">
        <div class="hamburger-menu">
            <i class="fas fa-bars" onclick="toggleMenu()"></i>
        </div>
    </div>

    <div id="sideMenu" class="side-menu">
        <div class="close-btn" onclick="toggleMenu()">
            <i class="fas fa-times"></i>
        </div>
        <ul>
            <li onclick="loadHomePage()">Subject</li>
            <li onclick="loadStudentPage()">Student</li>
            <li onclick="loadUploadPage()">Upload</li>
            <li onclick="loadGeneratePage()">Generate</li>
            <li onclick="loadLocationPage()">Add Location</li>
            <li onclick="loadRegistrationPage()">Register</li>
            <li onclick="logout()">Logout</li>
        </ul>
    </div>

    <div id="overlay" class="overlay" onclick="toggleMenu()"></div>

    <div class="registration-container">
        <div>
            <div>
                <img src="static/images/logo.jpg" alt="Sign" width="300px">
                <h2 align="center">Register as a Member</h2>
                <form id="registrationForm" onsubmit="registerUser(); return false;">
                    <input type="text" id="username" name="username" placeholder="Username" required>
                    <input type="email" id="email" name="email" placeholder="Email Address" required>
                    <div class="password-container">
                        <input type="password" id="password" name="password" placeholder="Password" required>
                        <i class="fas fa-info-circle info-icon" onclick="showPasswordRules()"></i>
                    </div>
                    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
                    <button type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>

    <div id="passwordRules" class="floating-window">
        <span class="close-btn" onclick="closePasswordRules()">&times;</span>
        <h3>Password Rules</h3>
        <p>Your password must meet the following criteria:</p>
        <ul>
            <li>At least 8 characters long</li>
            <li>Contains at least one uppercase letter</li>
            <li>Contains at least one lowercase letter</li>
            <li>Contains at least one number</li>
            <li>Contains at least one special character</li>
        </ul>
    </div>

    <script src="static/js/script.js"></script>
</body>
</html>